/* Contact section1 */
.Contact-section1{
	margin-top:13px;
	position: relative;
	width: 100%;
	height: 480px;
	overflow: hidden;
	margin-bottom:40px;
}	
.Contact-section1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: contrast(55%);
}

.Contact-section1-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
  z-index:99;
}
.Contact-section1-text h1{
	font-size:72px;
	font-weight:600;
}
.Contact-section1-text p{
	font-size:25px;
	font-weight:600;
}

/* Contact Section2 */
.Contact-section2{
	margin-top:90px;
	display:flex;
	justify-content:center;
	gap:40px;
	margin-bottom:50px;
}
.Contact-section2-box1{
	display:flex;
	flex-direction:column;
	align-items:center;
}
.Contact-section2-box1 img{
	width:295.99px;
	height:295.99px;
}
.Contact-section2-box1 h2{
	margin-top:20px;
	font-size:32px;
	font-family:Poppins;
	color:#1f1f1f;
	font-weight:bolder;
	line-height: 1.2em;
	margin-bottom:10px;
	text-align:center;
}
.Contact-section2-box1 p{
	text-align:center;
	font-size:17px;
	font-family:Roboto;
	font-weight:400;
	letter-spacing:0.5px;
}
.Contact-section2-box1 a{
	margin-top:10px;
	font-size:15px;
	font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
	padding:21px 34px;
	color:white;
	background-color:#63be75;
	border-radius:3px;
	margin-bottom:40px;
	text-align:center;
}
.Contact-section2-box1 a:hover{
	cursor:pointer;
}
