.Home-section1{
	margin-top:25px;
	position: relative;
	width: 100%;
	height: 500px;
	overflow: hidden;
}	
.Home-section1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Home-section1-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
}

.Home-section1-text h3 {
  font-size: 25px;
  font-weight: bold;
}

.Home-section1-text h1 {
  font-size: 72px;
  font-weight: bold;
}

.Home-section1-text p {
  font-size: 25px;
  font-weight: bold;
}

.Home-section1-text button {
  padding: 16px 28px;
  font-size: 16px;
  background: #63be75;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.Home-section1-text button:hover {
  background: #256339;
}

/* Home section2 */
.home-section2h1{
	margin-top:60px;
	text-align:center;
	color:#1f1f1f;
	font-weight:500;
	font-size:32px;
}
.home-section2p{
	margin:30px 0px 20px 0px;
	text-align:center;
	font-size:16px;
}
.Home-section2Main{
	display:flex;
	justify-content:center;
	gap:50px;
}
/* home section2 box1 */
.Home-section2Box1{
	display:flex;
	flex-direction:column;
	align-items:center;
}
.Home-section2Box1 img{
	width:317.17px;
	height:317.17px;
}
.Home-section2Box1 h3{
	font-size:18px;
	margin:20px 0px 9px;
	text-transform:uppercase;
	text-align:center;
}
.Home-section2Box1 p{
	font-size:16px;
	text-align:center;
}
.Home-section2Box1 a{
	font-size:12px;
	padding:13px 26px;
	color:white;
	background-color:#63be75;
	border-radius:300px;
	margin:0px 0px 40px 0px;
}
/* Home section3 */
.Home-section3{
	margin-top:25px;
	position: relative;
	width: 100%;
	height: 400px;
	overflow: hidden;
	margin-bottom:40px;
}	
.Home-section3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Home-section3-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
}
.Home-section3-text h1{
	font-size:72px;
	font-weight:600;
}
.Home-section3-text p{
	font-size:25px;
	font-weight:600;
}

/* Section4 */
.Home-s4Heading{
	text-align:center;
	font-size:42px;
	font-weight:400;
}
.Home-section4{
	margin-top:40px;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.Home-section4 p{
	font-size:17px;
	text-align:center;
	color:#1f1f1f;
	font-family: Roboto;
    font-weight: 400;
}
.Home-section4 a{
	font-size:12px;
	padding:13px 26px;
	color:white;
	background-color:#63be75;
	border-radius:300px;
	margin-bottom:30px;
}
.home-section4-video-main{
	margin-bottom:60px;
}
.home-section4-video{
	max-width: 668px; 
	aspect-ratio: 668 / 376; 
	margin: 0 auto;     
}
/* Slider */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 100% 100%;
  filter: invert(1); /* makes arrows black */
}

.carousel-control-prev,
.carousel-control-next {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #ccc;
  top: 40%;
  transform: translateY(-50%);
  opacity: 0.9;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background: #f8f8f8;
  opacity: 1;
}

.carousel-item .card {
  border: none;
  text-align: center;
}
.card img {
  border-radius: 4px;
  width:242px;
  height: 161.32px;
  object-fit: cover;
}
.date {
  margin-top: 10px;
  font-size: 13px;
  color: gray;
}
.title {
  margin-top: 6px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.4;
  text-transform: uppercase;
}
.home-heading {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

/* Home section5 */
.Home-section5{
	margin-top:40px;
	position: relative;
	width: 100%;
	height: 400px;
	overflow: hidden;
	margin-bottom:40px;
}	
.Home-section5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Home-section5-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
}
.Home-section5-text h1{
	font-size:72px;
	font-weight:600;
}
.Home-section5-text p{
	font-size:25px;
	font-weight:600;
}

/* Section6 */
.Home-s6Heading{
	text-align:center;
	font-size:42px;
	font-weight:400;
}
.Home-section6{
	margin-top:40px;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.Home-section6 p{
	font-size:17px;
	text-align:center;
	color:#1f1f1f;
	font-family: Roboto;
    font-weight: 400;
}
.Home-section6 a{
	font-size:12px;
	padding:13px 26px;
	color:white;
	background-color:#63be75;
	border-radius:300px;
	margin-bottom:30px;
}

/* Section7 */
.Home-s7Heading{
	text-align:center;
	font-size:42px;
	font-weight:400;
}
.Home-s7{
	margin-bottom:65px;
}
.Home-s7-logos{
	display:flex;
	justify-content:center;
	gap:30px;
}
.Home-s7-logos a:hover{
	cursor:pointer;
}
.Home-s7-logos img{
	width:129px;
	height:129px;
}